{
  "service": {
    "name": "monitoring-systemd_exporter",
    "port": {{ systemd_exporter_web_listen_port }},
    "address": "{{ ansible_hostname }}.{{ ansible_domain }}",
    "meta": {
      "__metrics_path__": "/metrics",
      "__scheme__": "http"
    },
    "checks": [
      {
        "args": ["curl","-s","-L","-o","/dev/null","-w","%{http_code}","-LI","localhost:{{ systemd_exporter_web_listen_port }}"],
        "interval": "60s",
        "timeout": "10s"
      }
    ],
    "tags": [
      "prometheus",
      "metrics"
    ]
  }
}
